name: 'Test'
on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      checks: write

    steps:
      - uses: actions/checkout@v4
      - name: 'Install Node'
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
      - name: 'Install Deps'
        run: npm install
      - name: 'Test'
        run: npm run test
      - name: 'Report Coverage'
        if: always()
        uses: ArtiomTr/jest-coverage-report-action@v2
